<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" />
      <div
        *ngIf="
          loginForm.get('username').hasError('required') &&
          loginForm.get('username').touched
        "
      >
        Username is required.
      </div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <div
        *ngIf="
          loginForm.get('password').hasError('required') &&
          loginForm.get('password').touched
        "
      >
        Password is required.
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  <div class="menu" *ngIf="openMenu">
    <h3>Menu</h3>
    <button routerLink="/fibonacci">Generate Fibonacci series</button>
    <button routerLink="/anagram-check">Check for Anagram</button>
    <button routerLink="/logout">Logout</button>
  </div>
</div>
