.anagram-container {
  display: flex;
  flex-flow: column wrap;
  padding: 2rem;
}

input {
  width: 10rem;
  margin: 1rem;
}

button {
  height: 2.5em;
  width: 12rem;
  background-color: skyblue;
  border: none;
  margin-left: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
